[submodule "packages/astro_dock"]
	path = packages/astro_dock
	url = https://github.com/1unarzdev/astro_dock.git
[submodule "packages/crane_ml"]
	path = packages/crane_ml
	url = https://github.com/1unarzDev/crane_ml.git
